/* règles spécifiques à « Libres conseils » */
.auteur-intro {
  text-align: right;
  padding-bottom: 1.5em;
}
.intro {
  margin: 2em auto;
  padding: 0.5em 1em;
  font-style: italic;
  font-size: 0.9em;
}
